/* VARIABLES */
:root {
    --main-green-color: rgb(106, 248, 106);
    --main-pink-color: rgb(247, 83, 219);
}

/* Estilos generales */
body,section,h1,h2,h3,h4,h5,h6,img,div,header,nav{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../../assets/a83e62f7599c5b91c6bcb05e8492ea56.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--main-green-color);
}
.titulo-periodico {
    width: 100%;
    background-image: url(../../assets/arcade.jpg);
    padding: 10px;
    text-align: center;
    color: var(--main-green-color);
    text-shadow: #fd6b3e 2px 0 5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: fixed;
}

nav {
    width: 100%;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    border-top: 2px solid var(--main-pink-color);
    border-bottom: 2px solid var(--main-pink-color);
    position: fixed;
    top: 75px;
}
nav ol {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0;
    margin: 0;
    
}

nav ol li a {
    color: var(--main-green-color);
    text-decoration: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}
nav ol li a:hover{
    scale:1.3em;
    color: var(--main-pink-color);
}
main {
    padding: 20px;
}
h2{
    margin-bottom: 5px;
    text-decoration: underline;
    color: var(--main-green-color);
}
section#animales {
    margin-top: 140px;
    margin-bottom: 20px;
    text-align: center;
}
/*Primera Section*/
div.primera-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--main-pink-color);
    border-radius: 15px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px 30px 15px;
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.primera-section header {
    width: 100%;
}
.primera-section h1 {
    margin: 10px auto;
}
.primera-section h4{
    margin-top: 0px;
}
.primera-section img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    margin: 0 auto 25px auto;
}
textarea {
    display: block;
    width: 80%;
    max-width: 600px;
    height: 50px;
    margin: 15px auto 0 auto;
    background-color: #333;
    color: rgb(247, 83, 219);
}
/*Segunda Seccion*/
div.segunda-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--main-pink-color);
    border-radius: 15px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px 30px 15px;
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.segunda-section header {
    width: 100%;
}
.segunda-section h1 {
    margin: 10px auto;
}
.segunda-section h4{
    margin-top: 0px;
}
.segunda-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 25px auto;
}
section#monumentos {
    margin-bottom: 20px;
    text-align: center;
}
/*Tercera Seccion*/
div.tercera-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--main-pink-color);
    border-radius: 15px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px 30px 15px;
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tercera-section header {
    width: 100%;
}
.tercera-section h1 {
    margin: 10px auto;
}
.tercera-section h4{
    margin-top: 0px;
}
.tercera-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 25px auto;
}
/*Cuarta Seccion*/
div.cuarta-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--main-pink-color);
    border-radius: 15px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px 30px 15px;
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cuarta-section header {
    width: 100%;
}
.cuarta-section h1 {
    margin: 10px auto;
}
.cuarta-section h4{
    margin-top: 0px;
}
.cuarta-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 25px auto;
}

/*Formulario*/

#formulario{
    text-align: center; 
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

#formulario h1 {
    color: var(--main-pink-color);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;;
}
.form-content{
    display: flex;
    justify-content:center;
    gap: 0%;
    width: 100%;

}
fieldset{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
    background:#575656;
    color: var(--main-green-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
legend{
    font-size: 1.2em;
    font-weight: bold;
}
label{
    display: block;
    margin-top: 10px ;
    font-weight: bold;
}
input, select{
    width: 70%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--main-green-color);
    border-radius: 4px;
    background-color: #333;
    color: var(--main-pink-color);
}

select {
    margin-top: 20px;
    width: 75%;
}

.textarea{
    width: 70%;
    padding: 8px;
    border: 1px solid var(--main-green-color);
    border-radius: 4px;
    background-color: #333;
    color: rgb(247, 83, 219);
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px auto;
}

button {
    padding: 13px 20px;
    font-size: 1rem;
    color: rgb(106, 248, 106);
    background-color: rgb(103, 109, 103);
    border: 2px solid var(--main-green-color);
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    
}
 button:hover {
    filter: grayscale(0%);
    scale: 1.1;
}
/*Footer*/  
footer{
    background-color: #333;
    color: var(--main-green-color);
    padding:20px 0 ;
    text-align: center;
    font-size: 1rem;
}
footer span{
    font-weight: bold;
    font-size: 1.2;
    color: var(--main-pink-color);
}
footer div{
    margin: 15px 0;
}
footer div img{
    margin:0 10px;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    cursor: pointer;
}
footer div img:hover{
    filter: grayscale(0%);
    scale: 1.1;
}
