/*Estilos animaciones*/


/* Estilos generales */
body,section,h1,h2,h3,h4,h5,h6,img,div,header,nav{
    margin: 0;
    padding: 0;
}

header.titulo-periodico {
    background:url(https://media.istockphoto.com/id/182054985/es/foto/fondo-de-fibra-de-carbono.jpg?s=612x612&w=0&k=20&c=CkKU8OTNQCbJ-RZOEXsEG814IXatnnbRIR8bZfhr_P4=);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 10px;
    text-align: center;
    color: #fff;
} 
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
}
nav:hover {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
nav ol {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ol li a {
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

nav ol li a:hover {
   
    color: rgb(42, 202, 207);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url(https://media.istockphoto.com/id/479612364/es/foto/papel-en-blanco-textura-o-fondo.jpg?s=612x612&w=0&k=20&c=AE4YxtpYyU_xp2yYUTXyDjsAXmjMZArBLgcPe0B20Lo=);

}
main {
    padding: 20px;
}
h2 {

    margin-bottom: 2px;
    text-decoration: underline;
    display: inline-block;
    margin: 10px 0.2rem;
    animation: bounce; 
    animation-duration: 2s;
}

.container{
    padding:auto;
    margin: auto;
}
section#animales {
    margin-bottom: 20px;
    text-align: center;
}
/*Haciendo las secciones todas juntas para que cuando pase el raton se hagan grandes*/
.primera-section,
.segunda-section,
.tercera-section,
.cuarta-section {
    transition: all 1s ease-in-out;
    scale: 0.9;
}

.primera-section:hover,
.segunda-section:hover,
.tercera-section:hover,
.cuarta-section:hover {
    scale: 0.92;
}

.primera-section img,
.segunda-section img,
.tercera-section img,
.cuarta-section img {
    border-radius: 10px;
    filter: grayscale(100%);
    scale: 0.9;
    transition: all 1s ease-in-out;
}


.primera-section:hover img,
.segunda-section:hover img,
.tercera-section:hover img,
.cuarta-section:hover img {
    filter: grayscale(0%);
    transform: scale(0.9) translateY(-5px);
}

.primera-section h1,
.segunda-section h2,
.tercera-section h3,
.cuarta-section h4 {
    text-decoration: underline;
    text-transform: capitalize;
    color: #182848;
}


/*Primera Section*/
.primera-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid gray;
   
}

.primera-section header {
    margin-top: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: 0;
}
.primera-section h1 {
    margin-top: 5%;
    margin-bottom: 10px;
}
.primera-section h4{
    margin-top: 5%;
}
.primera-section p {
margin-top: 5%;
    margin-bottom: 10px;
    line-height: 1.6;
}
.primera-section img {
    width: 300px;
    height: 300px;
    object-fit: cover; 
    
}
textarea {
    display: block;
    margin-top: 10px;
    
    max-width: 600px;
    height: 50px;
}
/*Segunda Seccion*/
.segunda-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid black;
}
.segunda-section header {
    margin-top: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: 0;
}
.segunda-section h1 {
    margin-top: 5%;
    margin-bottom: 10px;
}
.segunda-section h4{
    margin-top: 5%;
}
.segunda-section p {
    margin-top: 5%;
    margin-bottom: 10px;
    line-height: 1.6;
}
.segunda-section img {
    
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
}
section#monumentos {
    margin-bottom: 20px;
    text-align: center;
}
/*Tercera Seccion*/
.tercera-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid black;
}
.tercera-section header {
    margin-top: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: 0;
}
.tercera-section h1 {
    margin-top: 5%;
    margin-bottom: 10px;
}
.tercera-section h4{
    margin-top: 5%;
}
.tercera-section p {
    margin-top: 5%;
    margin-bottom: 10px;
    line-height: 1.6;
}
.tercera-section img {
    
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
}
/*Cuarta Seccion*/
.cuarta-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid black;
}
.cuarta-section header {
    margin-top: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: 0;
}
.cuarta-section h1 {
    margin-top: 5%;
    margin-bottom: 10px;
}
.cuarta-section h4{
    margin-top: 5%;
}
.cuarta-section p {
    margin-top: 5%; 
    margin-bottom: 10px;
    line-height: 1.6;
}
.cuarta-section img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    

}

/*Formulario*/

#formulario{
    text-align: center; 
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-content{
    display: flex;
    justify-content:center;
    gap: 0%;
    margin-bottom: 20px;
    width: 100%;

}
.fieldset-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
    opacity: 40%;
    box-shadow: 0 2px 5px rgba(179, 105, 44, 0.1);
    transition: all 1s ease-in-out; 
    scale: 0.9;
}
.fieldset-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.fieldset-div:hover{
    
    opacity: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    scale: 0.95;
   
}

.custom-section {
    width: 400px;
    height: 400px;
}


/**/
.adrian-container{
    width: 100%;
    height: 400px;
    transform: scale(1);
   
    transition: transform 300 ease-in-out;
}
.adrian-container img{
width: 100%;
height: 100%;
object-fit: cover;
}
.adrian-container:hover{
    transform: scale(1.1);
}

legend{
    font-size: 1.2;
    font-weight: bold;
}
label{
    display: block;
    margin-top: 10px ;
    font-weight: bold;
}
input,select{
    width: 70%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
 .textarea{
    width: 69%;
    padding: 8px;
}
button {
    padding: 13px 20px;
    font-size: 1rem;
     margin-bottom: 5px;
     margin-left: 10px;
    color: #fff;
    background-color: #3b75c0;
    border: none;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: all 1s ease ease-in-out;
    cursor: pointer;
   
    
}
 button:hover {
    filter: grayscale(0%);
    scale: 1.1;
}
/*Footer*/  
footer{
    background-color: #333;
    color:#fff;
    padding:20px 0 ;
    text-align: center;
    font-size: 1rem;
}
footer span{
    font-weight: bold;
    font-size: 1.2;
    
}
footer div{
    margin: 15px 0;
}
footer div img{
    width: 50px;
    height: 50px;
    margin:0 10px;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: all 3s ease ease-in-out;
    cursor: pointer;
}

footer div img:hover{
    filter: grayscale(0%);
    scale: 1;
}
footer div img:nth-child(1):hover {
    
    content: url(https://cdn-icons-png.flaticon.com/128/2582/2582527.png); 
}
footer div img:nth-child(2):hover {
    
    content: url(https://cdn-icons-png.flaticon.com/128/174/174879.png); 
}